
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5eaf5;
  color: #0a0b0b;
}

header {
  background-color:#c4caca;
  color: rgb(18, 19, 20);
  text-align: center;
  padding: 1em;
  
}

nav {
  display: grid;
  background-color:#c4caca;
  color: rgb(18, 19, 20);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu{
  display: block;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}

.line{
  width: 25px;
  height: 1px;
  background-color: #110f0f; 
  margin: 7px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 15px;
  display: block;
}

nav ul li  a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
  display: flex;
  margin-right: 60px;
}

.dropdown-toggle {
  background-color:#c4caca;
  border: none;
  padding: 0px 0px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: rgb(6, 0, 0);
  background-color: #d9d9d8;
  z-index: 6;
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #0c0a0a;
  width: 120px;

}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
  display: block;
  margin-top: 48px;
  margin-left: 27px;
}


#home{
  display: grid;
  background-color:#c4caca;
  height: 84vh;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

.center{
  display: grid;
  margin: auto;
  justify-content: center;
  margin: 10px;
  width: 50vmax;
  text-align: center;
}

  #logo{
    display: flex;
    font-size: smaller;
    font-style: italic;
    border-radius: 50%;
    justify-self: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 1px solid rgb(103, 99, 99);
    align-items: center;
    box-shadow: 70px 90px 10px rgba(97, 95, 95, 0.2);
  }
 

.slider {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 20px;

}

.slides {
  display: flex;
  width: 100%;

}

.slides img {
  width: 100%;
  display: none;
  background-size: cover;
}

button {
  position: absolute;
  top: 50%;
  
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.prev {
  left: 0;
  color: rgb(13, 13, 15);
  padding: 10px;
  height: 50px;
}

.next {
  right: 0;
  color: rgb(21, 17, 17);
  padding: 10px;
  height: 50px;
}

.headername {
  margin-top: 40px;
  text-decoration: underline;
  margin-left: 20px;
  justify-content: center;

}

#shop {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid rgb(249, 251, 252);
  justify-content: space-between;
}

.shopproduct  a{
  text-decoration: none;
  cursor: pointer;
}

.shopproduct {
  background-color:#c4caca;
  display: grid;
  margin-right: 10px;
  padding: 5%;
  margin: 10px;
  border-radius: 5px;
  align-self: center;
  height: 296px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.4);

}
.shopproduct:hover{
  background-color: #d9d9dc;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.8);
 }

.shopproduct img {
  width: 240px;
  height: 300px;
}

.update{
  width: 433px;
}

.shopname {
  align-self: end;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #0a0b0b;
}

.other {
  height: 100%;
  align-items: center;
}

#brands {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.brand {
  display: grid;
  margin-right: 10px;
  padding: 5%;
  margin: 10px;
  border-radius: 5px;
  align-self: center;
  height: 296px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.4);
  background-color:#c4caca;
}

._brand {
  display: flex;
  justify-content: center;
  
}

.vivo img {
  width: 235px;
  height: 230px;
}

.iqoo img {
  width: 235px;
  height: 230px;
}

.iqoo a, .vivo a{
  text-decoration: none;
  color: #0a0b0b;
}

.brand:hover{
  background-color: #d9d9dc;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.8);
 }

#product{
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.popularproduct{
  display: grid;
  margin-right: 10px;
  padding: 3% 6%;
  margin: 10px;
  border-radius: 8px;
  align-self: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.4);
  background-color:#c4caca;
  text-decoration: none;
  transition: padding 1s;
}

.popularproduct:hover{
  background-color: #d9d9dc;
  box-shadow: 10px 10px 20px rgba(70, 69, 69, 0.8);
 }

.name_price{
 display: flex;
 justify-content: center;
 margin: 2px;
}

.productname{
  text-decoration: none;
  color: #0a0b0b;
}

.productname h4{
 text-decoration: line-through;
}
.popularproduct img{
  width: 235px;
  height: 230px;
}

footer {
  background-color: #908d8d;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
